<nav hx-boost="true" hx-target="main" class="flex justify-between gap-8 px-4 pt-2">
    <h1 class="text-4xl font-bold domine">
        <a href="/">axum + htmx + tailwind</a>
    </h1>

    <ul class="flex h-fit text-xl font-bold">
        <li class="ml-4 flex">
            <a href="/"
                class="border-b-2 border-b-light-highlight hover:text-light-highlight dark:border-b-dark-highlight  dark:hover:text-dark-highlight">
                Home
            </a>
        </li>
        <li class="ml-4 flex">
            <a href="/about"
                class="border-b-2 border-b-light-highlight hover:text-light-highlight dark:border-b-dark-highlight  dark:hover:text-dark-highlight">
                About</a>
        </li>
    </ul>
</nav>